.navbar-container {
  position: absolute;
  top: 10rem;
  left: 40vw;
  align-self: center;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  width: 50rem;
  background-repeat: no-repeat;
}
